.header {
  display: flex;
  font-weight: 600;

  .title {
    flex: 1;
  }
}

table {
  width: 80%;
  margin: 20px auto;
  border-spacing: 0;
  border-collapse: collapse;

  td {
    padding: 10px;
    border: 1px solid #000000;

    &.label {
      font-weight: 600;
    }
  }
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;

  > div {
    flex: 1;
    text-align: center;
    margin: 20px 0;

    mat-form-field {
      width: 40%;
      margin-right: 20px;
    }

    button {
      width: 40%;
    }
  }
}
