.description {
  font-size: 1.1rem;
  padding: 25px;
  margin-bottom: 25px;
  border-bottom: 1px solid #000000;

  > div {
    margin: 10px 0;
    line-height: 1.5rem;
  }
}

.example-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .selected {
    order: 0;
    width: 90%;
  }

  > div {
    width: 28%;
    height: 100%;
    margin: 0.5%;
    cursor: pointer;
    order: 1;

    mat-card {
      height: 100%;

      .comp-avatar {
        background-image: url('../../../assets/comp.avatar.png');
        background-size: cover;
      }

      .lof-avatar {
        background-image: url('../../../assets/plane.avatar.png');
        background-size: cover;
      }
    }

    mat-card-actions {
      a {
        color: inherit;
      }
    }
  }
}
