@import "../../../styles/variables";
@import "../../../styles/mixins/dropdown-form.mixin";
@import "../../../styles/mixins/page-description.mixin";

.description {
  @include pageDescription;

  &.top {
    margin-bottom: 20px;
  }

  b {
    color: $primary-green;
  }
}

.configuration {
  @include dropDownForm;

  form {
    .rv-wrapper {
      display: inline-block;

      mat-label {
        display: block;
        color: rgba(0,0,0,.54);
        font-size: 8px;
      }
    }
  }
}

.viz-wrapper {
  display: flex;

  .svg-wrapper {
    flex: 1;
    position: relative;
    display: flex;
    flex-direction: row;
    height: 70vh;
    margin-bottom: 100px;

    svg {
      width: 100%;
      height: 100%;
    }

  }

  .details {
    flex: 1;

    .current-metric {
      padding: 20px;
      font-size: 18px;
      text-align: center;

      span {
        font-weight: 600;
        color: $primary-green;
      }
    }

    .chart {
      width: 100%;
      padding: 0 20px;
    }
  }
}

@media screen and (max-width: 1024px) {
  .configuration {
    form .rv-wrapper {
      position: relative;
      width: 30%;
      margin-right: 3%;
      margin-bottom: 20px;
    }
  }

  .viz-wrapper {
    flex-direction: column;

    .svg-wrapper {
      height: 50vh;
      margin: 20px 0;

      svg {
        width: 100%;
      }
    }

    .details .chart {
      padding: 0;
      margin-bottom: 20px;
    }
  }
}
