<nav>
  <div class="site-title">Brandon Thorly</div>
  <div class="links">
    <a href="mailto:brandonthorly@gmail.com?subject=Hello from brandonthorly.com" target="_blank"><span class="material-icons">email</span></a>
    <a class="icon linkedin" href="https://www.linkedin.com/in/brandontbeasley/" target="_blank"></a>
    <a class="icon git" href="https://github.com/brandonthorly" target="_blank"></a>
    <a href="../../../assets/BrandonThorlyResume.pdf" target="_blank">Resume</a>
  </div>
</nav>
