@import "../../styles/variables";

$icon-height: 25px;

nav {
  display: flex;
  height: 40px;
  padding: 0 $container-side-padding;
  background: $primary-green;

  .site-title {
    line-height: 40px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
  }

  .links {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1;

    &.mobile {
      display: none
    }

    a {
      font-size: 14px;
      font-weight: 600;
      color: #FFFFFF;
      margin-right: 20px;

      &:hover {
        opacity: 0.8;
      }

      &.mail span {
        font-size: 18px;
        line-height: 18px;
        height: 18px;
        vertical-align: middle;
      }

      &.icon {
        width: 16px;
        height: 16px;
        background-size: cover;
      }

      &.git {
        background-image: url('../../../assets/GitHub-Mark-Light-120px-plus.png');
      }

      &.linkedin {
        background-image: url('../../../assets/In-White-96@2x.png');
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  nav {
    .links {
      &:not(.mobile) {
        display: none;
      }

      &.mobile {
        display: flex;
      }

      button {
        color: #FFFFFF;
        padding-right: 0;
      }

      a {
        color: #000000;
      }
    }
  }
}
