@import "app/styles/variables";

/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
  font-size: 14px;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
a { text-decoration: none; color: #000000; }

// MATERIAL OVERIDES

.mat-raised-button.mat-primary {
  background-color: $primary-green;
  color: #FFFFFF;

  a {
    color: #FFFFFF;
  }
}

$card-header-height: 40px;

mat-form-field {
  width: 140px;

  .mat-form-field-label {
    font-size: 12px;
  }

  input {
    font-size: 14px !important;
  }
}

button {
  &.mat-stroked-button,
  &.mat-raised-button {
    min-width: 120px;
    line-height: 28px;
    margin-right: 20px;
    border-radius: 0;
    font-size: 12px;

    &:hover {
      opacity: 0.9;
    }
  }
}

@media screen and (max-width: 1800px) {
  mat-form-field {
    width: 90px;

    .mat-form-field-label {
      font-size: 10px;
    }

    input {
      font-size: 14px !important;
    }
  }

  button {
    &.mat-stroked-button,
    &.mat-raised-button {
      min-width: 100px;
      line-height: 24px;
      font-size: 12px;
    }
  }
}

@media screen and (max-width: 1550px) {
  mat-form-field {
    width: 70px;
    margin-right: 25px;

    .mat-form-field-label {
      font-size: 10px;
    }

    input {
      font-size: 12px !important;
    }
  }

  button {
    &.mat-stroked-button,
    &.mat-raised-button {
      min-width: 100px;
      line-height: 24px;
      font-size: 12px;
    }
  }
}

@media screen and (max-width: 1300px) {
  mat-form-field {
    width: 60px;
    margin-right: 25px;

    .mat-form-field-label {
      font-size: 9px;
    }

    input {
      font-size: 11px !important;
    }
  }

  button {
    &.mat-stroked-button,
    &.mat-raised-button {
      min-width: 100px;
      line-height: 24px;
      font-size: 11px;
    }
  }
}

@media screen and (max-width: 1180px) {
  mat-form-field {
    width: 50px;
    margin-right: 25px;

    .mat-form-field-label {
      font-size: 9px;
    }

    input {
      font-size: 11px !important;
    }
  }

  button {
    &.mat-stroked-button,
    &.mat-raised-button {
      min-width: 100px;
      line-height: 24px;
      font-size: 10px;
    }
  }
}
